<header>
    <div class="jumbotron">
        <h1>Have a burger why not</h1>
    </div>
</header>

<div class="container">
    <h2>Look at all these burgers I mean really</h2>
    <ul>
        {{#each burgers}}
        <li>
            {{burger_name}}
        </li>
        {{/each}}
    </ul>
</div>
<footer>

</footer>